.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
}

#nome-sobrenome {
  display: flex;
}

#email-casa {
  display: flex;
}

#radio {
  display: flex;
  flex-direction: column;
}

.radio-colum {
  display: flex;

}

#checkbox-container {
  display: flex;
  flex-direction: column;
}

#radio-container {
  display: flex;
  flex-direction: column;
}

#textarea-container {
  display: flex;
  flex-direction: column;
}

