#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main {
  display: flex;
}

#nome-sobrenome {
  display: flex;
}

#email-casa {
  display: flex;
}

#radio {
  display: flex;
  flex-direction: column;
}

.radio-colum {
  display: flex;

}
